/*********************
* Display
**********************/
.db {display: block}
.df {display: flex}
.db {display: block}
.di {display: inline}
.dib {display: inline-block}
.dt {display: table}

/*********************
* Position
**********************/
.pr {position: relative}
.pa {position: absolute}
.pf {position: fixed}

/*********************
* Flex
**********************/
.f20 {flex-basis: 20%}
.f25 {flex-basis: 25%}
.f33 {flex-basis: 33.33%}
.f50 {flex-basis: 50%}

/*********************
* Height, Width
**********************/
.h100 {height: 100%}
.w100 {width: 100%}

/*********************
* Margin
**********************/
.m0 {margin:0}
.m0-i {margin:0 !important;}

/* left */
.ml5 {margin-left: 5px}
.ml5-i {margin-left: 5px !important;}
.ml10 {margin-left: 10px}
.ml10-i {margin-left: 10px !important;}
.ml15 {margin-left: 15px}
.ml15-i {margin-left: 15px !important;}
.ml20 {margin-left: 20px}
.ml20-i {margin-left: 20px !important;}
.ml30 {margin-left: 30px}
.ml30-i {margin-left: 30px !important;}

/* right */
.mr5 {margin-right: 5px}
.mr5-i {margin-right: 5px !important;}
.mr10 {margin-right: 10px}
.mr10-i {margin-right: 10px !important;}
.mr15 {margin-right: 15px}
.mr15-i {margin-right: 15px !important;}
.mr20 {margin-right: 20px}
.mr20-i {margin-right: 20px !important;}
.mr30 {margin-right: 30px}
.mr30-i {margin-right: 30px !important;}

/* top */
.mt0 {margin-top: 0px}
.mt0-i {margin-top: 0px !important;}
.mt5 {margin-top: 5px}
.mt5-i {margin-top: 5px !important;}
.mt10 {margin-top: 10px}
.mt10-i {margin-top: 10px !important;}
.mt15 {margin-top: 15px}
.mt15-i {margin-top: 15px !important;}
.mt20 {margin-top: 20px}
.mt20-i {margin-top: 20px !important;}
.mt30 {margin-top: 30px}
.mt30-i {margin-top: 30px !important;}

/* bottom */
.mb0 {margin-bottom: 0px}
.mb0-i {margin-bottom: 0px !important;}
.mb5 {margin-bottom: 5px}
.mb5-i {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px}
.mb10-i {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px}
.mb15-i {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px}
.mb20-i {margin-bottom: 20px !important;}
.mb30 {margin-bottom: 30px}
.mb30-i {margin-bottom: 30px !important;}
.mb40 {margin-bottom: 40px}
.mb40-i {margin-bottom: 40px !important;}

/*********************
* Padding
**********************/
.p0 {padding: 0}
.p0-i {padding: 0 !important}

/* mixed */
.p10 {padding: 10px}
.p10-i {padding: 10px !important}
.p15 {padding: 15px}
.p15-i {padding: 15px !important}
.p20 {padding: 20px}
.p20-i {padding: 20px !important}
.p25 {padding: 25px}
.p25-i {padding: 25px !important}
.p30 {padding: 30px}
.p30-i {padding: 30px !important}

.p10-0 {padding: 10px 0}
.p15-0 {padding: 10px 0}
.p20-0 {padding: 20px 0}
.p30-0 {padding: 30px 0}
.p40-0 {padding: 40px 0}

.p0-10 {padding: 0 10px}
.p0-15 {padding: 0 15px}
.p0-20 {padding: 0 20px}
.p8-0 {padding: 8px 0}

/* left */
.pl5 {padding-left: 5px}
.pl5-i {padding-left: 5px !important}
.pl10 {padding-left: 10px}
.pl10-i {padding-left: 10px !important}
.pl15 {padding-left: 15px}
.pl15-i {padding-left: 15px !important}
.pl20 {padding-left: 20px}
.pl20-i {padding-left: 20px !important}

/* right */
.pr5 {padding-right: 5px}
.pr5-i {padding-right: 5px !important}
.pr10 {padding-right: 10px}
.pr10-i {padding-right: 10px !important}
.pr15 {padding-right: 15px}
.pr15-i {padding-right: 15px !important}
.pr20 {padding-right: 20px}
.pr20-i {padding-right: 20px !important}

/* top */
.pt5 {padding-top: 5px}
.pt5-i {padding-top: 5px !important}
.pt10 {padding-top: 10px}
.pt10-i {padding-top: 10px !important}
.pt15 {padding-top: 15px}
.pt15-i {padding-top: 15px !important}
.pt20 {padding-top: 20px}
.pt20-i {padding-top: 20px !important}
.pt30 {padding-top: 30px}
.pt30-i {padding-top: 30px !important}

/* bottom */
.pb5 {padding-bottom: 5px}
.pb5-i {padding-bottom: 5px !important}
.pb10 {padding-bottom: 10px}
.pb10-i {padding-bottom: 10px !important}
.pb15 {padding-bottom: 15px}
.pb15-i {padding-bottom: 15px !important}
.pb20 {padding-bottom: 20px}
.pb20-i {padding-bottom: 20px !important}
.pb30 {padding-bottom: 30px}
.pb30-i {padding-bottom: 30px !important}

/*********************
* Text & Fonts
**********************/
.ta-l {	text-align: left; }
.ta-c {	text-align: center; }
.ta-r {	text-align: right; }

/*********************
* Overflow
**********************/
.no-ovrfl {overflow: inherit}
.ovrfl {overflow: hidden}

.txt-over-doted {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
